html {
	font-size: 62,5%;
}

#game {
	height: 30rem;
	width: 30rem;
	margin: 5rem auto;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;

	border: 2px solid black;
}

.cell {
	height: 100%;
	width: 100%;
	display: flex;
	font-size: 8rem;
	justify-content: center;
	align-items: center;

	border: 2px solid black;
}

#message {
	display: flex;
	width: 100%;
	font-size: 2rem;
	justify-content: center;
}
